body {
  font-family: "Roboto", "sans-serif";
  width: 1600px;
  height: 2349px;
  color: #757575;
  margin: auto;
}
:root {
  --color-variable: #2196f3;
  --color-title: #212121;
  --color-text: #757575;
  --color-background: #2f303a;
  --color-slogan: #fff;
  --color-adress: #fff;
  --color-footer-contact: rgba(255, 255, 255, 0.6);
  --color-background-button: #f5f4fa;
}
.top {
  border-bottom: 1px solid #ececec;
  padding-left: 215px;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-bottom: 94px;
}
.top a {
  text-decoration: none;
  color: var(--color-title);
}
.top a:hover,
.top a:focus {
  color: var(--color-variable);
}
.top h3 {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-title);
  display: inline;
  padding-right: 93px;
}

.higlight {
  color: var(--color-variable);
}
nav {
  display: inline;
}
.list {
  list-style: none;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: inline;
}
.list li {
  display: inline;
}
.list li:nth-child(n + 1) {
  padding-left: 46px;
}

.contact {
  list-style: none;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: inline;
  padding-left: 371px;
}
.contact li {
  display: inline;
}
.contact li:nth-child(n + 1) {
  padding-left: 50px;
}
.contact a {
  color: var(--color-text);
}
main {
  width: 1600px;
}
.slogan {
  height: 600px;
  background: var(--color-background);
  display: flex;
}
.slogan-text {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-slogan);
  width: 700px;
  margin: auto;
}
.slogan-button {
  width: 200px;
  height: 50px;
  background: var(--color-variable);
  color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
.advantages-list {
  list-style: none;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-text);
  display: flex;
  padding-left: 0;
  text-align: left;
}
.advantages-indention {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-title);
}

.list-offer {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.offer-caption {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-title);
}
.team {
  background: #f5f4fa;
}
.team-caption {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-title);
}
.team ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

figure {
  margin: 0;
}

.team-list {
  width: 270px;
  height: 368px;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-text);
  background-color: white;
}
.team-indention {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-title);
}
.bottom {
  width: 1600px;
  height: 252px;
  background: var(--color-background);
  display: flex;
}
.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.bottom-list {
  list-style: none;
  text-align: left;
  padding-left: 0;
}
footer a {
  text-decoration: none;
}
.studio {
  color: #fff;
}
.bottom address {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-adress);
}

.bottom-contact {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--color-footer-contact);
}
.bottom a:hover,
.bottom a:focus {
  color: var(--color-variable);
}
.pushbutton {
  padding-left: 510px;
  display: inline;
}
.pushbutton button {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}
.pushbutton-list {
  list-style: none;
  display: inline;
}
.pushbutton-list-item {
  display: inline;
}
.pushbutton-list-item:nth-child(n + 1) {
  padding-left: 8px;
}
.pushbutton button:hover,
.pushbutton button:focus {
  background: var(--color-variable);
  color: #fff;
}
.portfolio {
  padding-bottom: 94px;
}
.portfolio-list {
  list-style: none;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--color-text);
  display: flex;
  flex-wrap: wrap;
  padding-left: 215px;
  padding-top: 34px;
}
.portfolio-image {
  margin: 15px 30px 15px 30px;
  border-bottom: 1px solid #eeeeee;
}
.portfolio-image:nth-child(3n + 1) {
  margin-left: 0;
}
.portfolio-image:nth-child(3n + 3) {
  margin-right: 0;
}
.portfolio-image:nth-child(-n + 3) {
  margin-top: 0;
}
.portfolio-image:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.portfolio-list h3,
p {
  padding-left: 24px;
}
.portfolio-indention {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-title);
}
.container {
  width: 1200px;
  text-align: center;
  margin: auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
